{% extends "base.html" %}

{% block content %}
<div>
    <h1> Here are {{user.username}}'s questions:</h1>   
    {% load markdownify %}
    <div class="question-div">
        {% for question in questions %}
        <div class="question-pane">
            <div class="test-border">
            <h3>{{question.title}}</h3>
            <div>{{question.body|markdownify}}</div>
            <p>by {{question.author.username}} on {{question.edited}}</p>
            {% if question in user.q_faves.all %}
                <p>This is a fave.</p>
            {% else %}
                <p>This is not a fave.</p>
            {% endif %}
            <a href="{% url 'delete_question' pk=question.pk %}">Delete Question</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}