body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    background-color: #e9e6e0;
}

.test-border {
    border: 1px solid black;
}


header {
    background-color: rgb(204, 204, 204);
    height: 10%;
    margin: 0px 0px;
    color: white;
}

code {
    white-space: pre-wrap;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}

.header-right a {
    color: white;
    padding-right: 30px;
}

.header-p {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
}

.body-div {
    height: 90%;
    width: 95%;
    margin: 0 auto;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.v-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: space-around;
}

.welcome-el {
    padding-right: 25px;
}

.welcome-header {
    margin-top: 0;
}
